form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-mdc-form-field {
  width: 80%;
  max-width: 100%;
  margin-bottom: var(--spacing-large);
}

:root .mat-app-background {
  --mdc-filled-text-field-container-color: var(--input-background);
  --mdc-filled-text-field-label-text-color: var(--text-hint);
  --mdc-filled-text-field-focus-label-text-color: var(--primary-color);
  --mdc-filled-text-field-input-text-color: var(--text-secondary);
  --mdc-filled-text-field-focus-active-indicator-color: var(--primary-color);
  --mdc-filled-text-field-caret-color: var(--text-secondary);
}

.mat-mdc-form-field .mat-mdc-text-field-wrapper {
  border-radius: var(--border-radius-small);
  overflow: hidden;
}

.dark-select-panel {
  background-color: var(--input-background) !important;
  color: var(--text-primary) !important;
}

.dark-select-panel .mat-mdc-option {
  color: var(--text-primary) !important;
}

.dark-select-panel .mat-mdc-option.mdc-list-item--selected {
  background-color: rgba(255, 0, 0, 0.08) !important;
  color: var(--primary-color) !important;
}

.dark-select-panel .mat-mdc-option:hover {
  background-color: var(--hover-color) !important;
}

